body{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.hidden{
    display: none;
}

.container{
    border: 0.1rem black solid;
    width:45%;
    height: 45%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;
}

.gridDiv{
    border: 0.002rem solid rgba(195, 194, 196, 0.555);
    flex: 1 1 2rem;
    height: 2rem;
    width: 2rem;
}

.gridRowDiv{
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    min-height: 2rem;
    width: 100%;
    height: 100%;
    gap:0;
}

.hoveredOn{
    transition: background-color 0.2s;
    background-color: black;
}