/*
:root {
  --picked-color: rgb(0, 0, 0);
}*/


*{
    box-sizing: border-box;
    color: antiquewhite;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}

.hidden{
    display: none;
}

h1{
    margin: 0.5rem auto;
    padding-left: 2.5rem;
}

.header{
    text-align: left;
    width: 100%;
    background-color: rgb(194, 60, 36);
}

.inputSection label{
    font-weight: 600;
    font-size: 1.2rem;
}

.inputText, .clearBtn, .toolbar > input, .toolbar button{
    width: 20%;
    border-radius: 0.3rem;
    background-color: rgba(221, 76, 50, 0.733);
    border-style: none;
}

.inputSection{
    margin: 0.5rem;
    text-align: center;
    align-content: center;
    width: 50%;
}

.background{
    width: 45%;
    height: 50%;
    display: flex;
    flex-direction: column;
    padding:0.2rem 0rem;
    border-radius: 1.2rem;
    background-color: rgb(194, 60, 36);
    margin: 0;
    margin-top: -3rem;
    align-items: center;

}


.container{
    border: 0.1rem black solid;
    width: 90%;
    height: 35%;
    flex: 1 1 auto;
    display: flex;
    aspect-ratio: 1/1;
    flex-direction: column;
    justify-content: center;
    gap: 0;
    overflow: visible;
    margin: 0;
    background: rgb(255, 255, 255);
}

.gridDiv{
    border: 0.002rem solid rgba(195, 194, 196, 0.349);
    flex: 1 1 auto;
    max-height: fit-content;
    aspect-ratio: 1/1;
}

.gridRowDiv{
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
    gap:0;
}

.hoveredOn{
    transition: background-color 0.2s;
    /*background-color: var(--picked-color);*/
}

.footer{
    background-color: rgb(194, 60, 36);
    margin-top: 0.5rem;
    width: 100%;
    padding: 0;
    bottom: 0;
    text-align: center;
    position: fixed;

}

.footer p{
    height: 0.5rem;
    font-weight: 700;
}

.main{
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    padding-bottom: 0.5rem;
}

.toolbar > input, .toolbar button{
    border: 0 none antiquewhite;
    margin: 0.3rem;
    width: 2.4rem;
    height: 2.4rem;
    font-size: 1.3rem;;
    padding: 0.3rem;
}